@import "tailwindcss";

/* Custom-css-start */

@font-face {
  font-family: "Navigo";
  src: url("../fonts/Navigo-Black.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-Black.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-Black.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-Light.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-Regular.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-Regular.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-Bold.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-Thin.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-Medium.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-Bold.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-ExtraLight.woff2") format("woff2"),
    url("./assets/fonts/Navigo-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-Regular.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-Bold.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-ExtraLight.woff2") format("woff2"),
    url("./assets/fonts/Navigo-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-Medium.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-Light.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-ExtraLight.woff2") format("woff2"),
    url("./assets/fonts/Navigo-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-Light.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-Medium.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-Thin.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Navigo";
  src: url("./assets/fonts/Navigo-Thin.woff2") format("woff2"),
    url("./assets/fonts/Navigo-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

body {
  /* background: -webkit-linear-gradient(180deg, #feffff 0%, #dceaf7 100%); */
  /* background: linear-gradient(180deg, #feffff 0%, #dceaf7 100%); */
  background-color: #dceaf7;
  color: #000;
  font-size: 16px;
  font-family: "Navigo";
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  touch-action: manipulation;
}

/* Add eraser cursor */
.cursor-eraser {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M12.5 19.5L20.5 11.5C21.328 10.672 21.328 9.328 20.5 8.5L15.5 3.5C14.672 2.672 13.328 2.672 12.5 3.5L4.5 11.5C3.672 12.328 3.672 13.672 4.5 14.5L9.5 19.5C10.328 20.328 11.672 20.328 12.5 19.5Z'/%3E%3Cpath d='M18 12L21 15'/%3E%3Cpath d='M3 21L12 12'/%3E%3C/svg%3E")
      12 12,
    auto;
}
.opacity-0 {
  opacity: 0 !important;
  width: 0;
}

.maybe-text {
  color: #203964;
}

/* In your main CSS file or a dedicated CSS file imported into your project */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 50px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #00a8e9;
  border-radius: 25px;
}

.maybe-text {
  color: #203964;
}

.sidebar::-webkit-scrollbar {
  width: 4px;
  border-radius: 50px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #818181;
  border-radius: 25px;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

strong {
  font-weight: 800;
  color: #000;
}

a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 400;
}

button {
  /* border: none; */
  cursor: pointer;
}

hr {
  background-color: #333;
  opacity: 1;
}

.csm-hr {
  background-color: #28a5e5;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.form-control,
.form-select {
  box-shadow: none !important;
}

.primary-text {
  color: #0088dc !important;
}

.border-color {
  border-color: #0088dc !important;
}

.bg-blue-theme {
  background-color: #0088dc;
}

.thm-btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: #0088dc;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  text-align: center;
}

.thm-btn.danger {
  background-color: #ff3b30;
}
.decision-card {
  position: relative;
}

.decision-badge {
  position: absolute;
  right: 7px;
  top: 20px;
  padding: 7px 10px;
  background-color: #fff;
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
  border-radius: 4px;
}

.decision-badge.ys-cls {
  color: #00a63e;
}

.decision-badge.no-cls {
  color: #e7000b;
}

.decision-badge.maybe-cls {
  color: #203964;
}

.main-h {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.welcome-new {
  width: 100%;
}

.main-wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  padding-bottom: 50px;
  padding-top: 80px;
  overflow-x: hidden;
}
.introduction_page {
  min-height: auto;
}
.pt-0 {
  padding-top: 0;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}

.home-wrapper {
  /* background: linear-gradient(180deg, #feffff 0%, #dceaf7 100%); */
  /* background: -webkit-linear-gradient(180deg, #feffff 0%, #dceaf7 100%); */
  /* background: linear-gradient(180deg, #feffff 0%, #dceaf7 100%); */
  background-color: #dceaf7;
}

.main-header {
  z-index: 9;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.main-header > div {
  position: relative;
  z-index: 9;
}
.Header-text {
  position: absolute;
  left: 50%;
  top: 0;
  text-align: center;
  z-index: -1;
  transform: translateX(-50%);
}

.innr-header {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1020;
  background-color: #dceaf7;
}

.dashboard-wrapper {
  overflow-y: auto;
}

.dashboard-cards a {
  display: block;
}

.thm-footer {
  background-color: #dceaf7;
}

.thm-footer li a img {
  height: 25px;
  width: 30px;
}

.thm-footer-innr {
  max-width: 1024px;
}

.feel-list {
  padding-left: 200px;
  position: relative;
}

.gradient-bar {
  background: linear-gradient(to right, green, yellow, orange, red);
  width: 46rem;
  margin-left: auto;
  margin-right: auto;
}

.line-1 {
  background-color: #328a44;
  margin-left: -4px;
}

.line-2 {
  background: linear-gradient(to top, #69a835, #65a537);
}

.line-3 {
  background: linear-gradient(to top, #99c12a, #99c12a);
}

.line-4 {
  background: linear-gradient(to top, #c4da27, #c3d927);
}

.line-5 {
  background: #eff223;
}

.line-5 {
  background: linear-gradient(to top, #f2d21b, #f2d11a);
}

.line-6 {
  background: linear-gradient(to top, #f3ae11, #f3af11);
}

.line-7 {
  background: linear-gradient(to top, #f28708, #f28507);
}

.line-8 {
  background: linear-gradient(to top, #ec5902, #ec5802);
}

.line-9 {
  background: linear-gradient(to top, #ec5802, #ec5a02);
}

.line-10 {
  background: linear-gradient(to top, #df2901, #df2901);
}

.line-11 {
  background: #d40201;
  margin-right: -4px;
}

.modal-overlay {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: -9;
}

.custom-modal {
  width: 345px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.close-btn {
  position: absolute;
  z-index: 999;
  right: 20px;
  top: 10px;
  margin-top: 15px;
}

.card-img-h {
  overflow: hidden;
}

.card-img-h img {
  width: 100%;
  height: 130px;
  object-fit: contain;
}

/* .howoften-page {
  padding-top: 0;
} */
.header-img {
  width: 34px;
  height: 31px;
}

.dashboard-cards.summary-left-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 270px;
  width: 260px;
  cursor: pointer;
}

.dashboard-cards.summary-left-cards .dashboard-img {
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-cards.summary-left-cards .dashboard-img img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.summary-list-right .dashboard-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 200px; */
  cursor: pointer;
}

.summary-list-right .dashboard-cards .dashboard-img {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary-list-right .dashboard-cards .dashboard-img img {
  height: 100%;
  width: auto;
  object-fit: contain;
}
.brthng-card {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.brthng-card .dashboard-img img {
  height: 100%;
  object-fit: contain;
}
.objct-cls {
  object-fit: contain !important;
}
.content-cls {
  object-fit: contain !important;
}

@media (max-width: 799px) {
  .sidebar .font-normal.text-black.flex {
    font-size: 15px;
  }

  /* .summary-main {
    flex-direction: column;
    gap: 15px;
  } */
  /* .summary-main .arrow-right {
    transform: rotate(90deg);
  } */
  .calendar-main span.font-bold {
    font-size: 16px;
  }

  .decision-badge {
    padding: 5px 7px;
    font-size: 16px;
  }
}

@media (orientation: landscape) {
  .main-wrapper {
    padding-bottom: 60px;
    padding-top: 25px;
  }
  .pain-wrapper,
  .depression-screener-wrapper {
    padding-top: 0;
  }
}

@media (max-width: 699px) {
  .thm-footer .flex {
    gap: 40px;
  }

  .emotion-cards .dashboard-cards p {
    font-size: 15px;
  }

  .main-header h2 {
    font-size: 20px;
  }

  .innr-header h2,
  .innr-header h1 {
    font-size: 20px;
  }

  .calendar-main button.flex.items-center.justify-center .check-mark {
    height: 20px;
    width: 20px;
  }

  .setting-cards span.text-lg.text-black-800 {
    font-size: 15px;
  }

  .decision-cards div.flex.items-center p.font-medium {
    font-size: 35px;
  }

  .decision-cards div.flex.items-center img.w-15.h-15 {
    width: 50px;
  }

  .decision-cards div.flex.items-center img {
    width: 40px;
  }
  .decision-cards div.flex.items-center img[width="70px"] {
    width: 50px;
  }

  .bttm-txt-bar {
    gap: 15px;
  }

  .bttm-txt-bar span {
    font-size: 14px;
  }

  .text-bar .text-2xl {
    font-size: 15px;
  }

  .feel-list-main .feel-list a {
    gap: 10px;
  }

  .feel-list-main .feel-list span.font-medium.color-black {
    font-size: 20px;
  }

  .feel-list-main .feel-list img {
    width: 60px;
  }
}

@media (max-width: 599px) {
  .emoji-bar {
    gap: 20px;
  }

  .emoji-bar img {
    width: 60px;
  }

  .emoji-bar span.px-5 {
    padding: 5px 20px;
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  .upload-frm {
    flex-direction: column;
    gap: 20px;
  }

  .upload-frm div {
    width: 100%;
  }

  .upload-frm .text-center label {
    margin-bottom: 5px;
  }

  .calendar-main span.font-bold {
    font-size: 14px;
    font-weight: 600;
  }

  .setting-cards
    div.flex.items-center.justify-between.py-4.border-b.border-white {
    flex-direction: column;
    align-items: flex-start;
  }

  .setting-cards .p6 {
    padding: 10px;
  }

  .calendar-bttm {
    flex-direction: column;
  }

  .calendar-bttm button {
    width: 100%;
    margin-bottom: 10px;
  }

  .setting-cards span.text-lg.text-black-800 {
    margin-bottom: 10px;
  }

  .feel-list {
    padding-left: 120px;
  }
}

@media (max-width: 400px) {
  .calendar-buttons {
    flex-direction: column;
  }

  .calendar-buttons button.bg-red-500 {
    width: 100%;
  }

  .calendar-buttons div.flex.rounded-full.bg-gray-100.p-1 {
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
  }
}

/* Loader.css */

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f8ff;
}

.loader {
  border: 10px solid #ffffff;
  border-top: 10px solid #87cefa;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.sidebar {
  padding: 50px 20px;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 3px 0px 20px 1px rgb(0 0 0 / 10%);
}

.dash-single-items {
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 150px);
}

.dash-single-items .dashboard-cards .dashboard-img img {
  height: calc(90vh - 130px);
}

/* .dash-single-items .dashboard-cards p.text-black {
font-size: 22px;
} */
.dash-double-items .dashboard-cards {
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 150px);
}

.dash-double-items .dashboard-cards .dashboard-img img {
  height: calc(90vh - 130px);
}

.dash-triple-items {
  width: 100%;
  margin: 0 auto; /* height: calc(100vh - 150px); */
  height: calc(74vh - 0px);
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dash-triple-items .dashboard-cards .dashboard-img img {
  /* height: calc(90vh - 150px);
  object-fit: fill; */
  height: calc(74vh - 240px);
  object-fit: contain;
}

.dash-quadriple-items {
  width: 100%;
  margin: 0 auto;
  height: calc(70vh - 0px);
  display: flex;
  align-items: flex-end;
  background-color: #fff;
  border-radius: 16px;
  border: 2px solid transparent;
  transition: 0.3s;
}
.dash-quadriple-items:hover {
  border-color: #155dfc;
}

.dash-quadriple-items .dashboard-img img {
  height: calc(80vh - 210px);
  object-fit: contain;
}
.dash-quadriple-items .dashboard-cards {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  border: 0;
}

.dash-hexuple-items .dashboard-cards {
  width: 100%;
  margin: 0 auto;
  height: calc(60vh - 150px);
}

.dash-hexuple-items .dashboard-cards .dashboard-img img {
  height: calc(50vh - 130px);
  object-fit: contain;
}

@media only screen and (max-height: 852px) and (orientation: landscape) {
  .dash-single-items .dashboard-cards .dashboard-img img {
    height: calc(90vh - 160px);
  }

  .dash-single-items {
    height: calc(90vh - 100px);
  }

  .dash-double-items .dashboard-cards .dashboard-img img {
    height: calc(90vh - 155px);
  }

  .dash-triple-items .dashboard-cards .dashboard-img img {
    object-fit: contain;
  }

  .dash-quadriple-items {
    height: calc(90vh - 100px);
    display: block;
  }

  .dash-quadriple-items .dashboard-img img {
    height: calc(90vh - 170px);
  }

  .dash-hexuple-items .dashboard-cards {
    width: 100%;
    margin: 0 auto;
    height: calc(69vh - 150px);
  }

  .dash-hexuple-items .dashboard-cards .dashboard-img img {
    height: calc(53vh - 136px);
    object-fit: contain;
  }
}

@media only screen and (max-height: 926px) and (orientation: landscape) {
  .dash-hexuple-items .dashboard-cards {
    width: 100%;
    margin: 0 auto;
    height: calc(70vh - 145px);
  }

  .dash-hexuple-items .dashboard-cards .dashboard-img img {
    height: calc(52vh - 65px);
    object-fit: contain;
  }
}

@media only screen and (max-height: 844px) and (orientation: landscape) {
  .dash-triple-items .dashboard-cards .dashboard-img img {
    height: calc(90vh - 160px);
  }

  .dash-hexuple-items .dashboard-cards {
    height: calc(70vh - 140px);
    border-radius: 10px;
  }
  /* .dashboard-cards.summary-left-cards {
    height: 220px;
    width: 220px;
  } */
  .dash-triple-items {
    height: calc(78vh - 0px);
  }
}

@media only screen and (max-height: 812px) and (orientation: landscape) {
  .dash-hexuple-items .dashboard-cards {
    height: calc(67vh - 140px);
  }

  .dash-hexuple-items .dashboard-cards {
    height: calc(69vh - 140px);
  }
  /* 
  .decision-cards div.flex.items-center p.font-medium {
    font-size: 30px;
  }

  .decision-cards .concrn-icn {
    height: 24px;
    width: 24px;
  } */

  .concrn-img {
    width: 200px;
  }

  /* .brthng-card {
    height: calc(100vh - 140px);
  }

  .brthng-card .dashboard-img img {
    height: calc(80vh - 90px);
    object-fit: contain;
  } */
}

@media only screen and (max-height: 736px) and (orientation: landscape) {
  /* .main-wrapper {
    padding-top: 60px;
  } */
  /* .whiteboard-wrapper .whiteboard-card {
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden !important;
  } */
  /* .whiteboard-canvas {
    height: 200px !important;
  } */
  .icon-size-add {
    width: 20px !important;
    height: 20px !important;
    min-width: 20px !important;
  }
  /* .whiteboard-wrapper .whiteboard-toolbar {
    gap: 6px;
  } */

  .dash-hexuple-items .dashboard-cards {
    height: calc(78vh - 140px);
  }

  .dash-hexuple-items .dashboard-cards .dashboard-img img {
    height: calc(58vh - 110px);
    object-fit: contain;
  }

  /* .dash-hexuple-items .dashboard-cards p {
    font-size: 14px;
    margin: 0;
  } */
  .dash-single-items .dashboard-cards p,
  .dash-double-items .dashboard-cards p,
  .dash-triple-items .dashboard-cards p,
  .dash-quadriple-items .dashboard-cards p,
  .dash-hexuple-items .dashboard-cards p {
    font-size: 20px !important;
  }
  .brthng-card {
    height: 300px;
  }
}
.whiteboard-wrapper {
  min-height: 100%;
  padding-top: 0;
  padding-bottom: 20px;
}
.whiteboard-wrapper .whiteboard-toolbar {
  border-radius: 0 0 0.75rem 1.75rem;
}
.whiteboard-wrapper .whiteboard-card {
  height: 100%;
}

/* landscope in iphone */

/* html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
} */
/* .portrait-forced-to-landscape .home-wrapper {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 35%;
} */
/* .landscape-natural .home-wrapper {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 15%;
} */

/* NO LANDSCAPE routes - / and /main - Normal behavior */
/* .no-landscape {
  transform: none !important;
  position: static !important;
  width: 100% !important;
  height: 100% !important;
  overflow: auto !important;
} */

/* .no-landscape .app-container {
  transform: none !important;
  width: 100% !important;
  min-height: 100% !important;
} */

/* FORCE LANDSCAPE - All other routes */
/* .force-landscape {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
} */

/* Natural Landscape - Device is physically in landscape */
/* .force-landscape.landscape-natural {
  transform: none;
  width: 100vw;
  height: 100vh;
} */

/* Portrait forced to Landscape - Device is physically portrait but we force landscape view */
/* .force-landscape.portrait-forced-to-landscape {
  transform: rotate(90deg) translate(0%, -100%);
  transform-origin: 0% 0%;
  width: 100vh;
  height: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
} */

/* .force-landscape.portrait-forced-to-landscape #root,
.force-landscape.portrait-forced-to-landscape .app-container {
  width: 100vh;
  height: 100vw;
  transform: rotate(0deg);
} */

/* Prevent zoom and ensure proper scaling */
/* .force-landscape {
  touch-action: pan-x pan-y;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
} */

/* Media query backup for extra protection */
/* @media (orientation: portrait) {
  .force-landscape {
    position: fixed !important;
    width: 100vh !important;
    height: 100vw !important;
    transform: rotate(90deg) translate(0%, -100%) !important;
    transform-origin: 0% 0% !important;
    top: 0 !important;
    left: 0 !important;
    overflow: auto !important;
  }

  .force-landscape #root {
    width: 100vh !important;
    height: 100vw !important;
    transform: rotate(0deg) !important;
  }
} */

/* Hide scrollbars but maintain functionality */
/* .force-landscape ::-webkit-scrollbar {
  display: none;
}

.force-landscape {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
/* popup in summary page */

/* Background blur */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Popup card */
.popup {
  background: white;
  width: 330px;
  padding: 30px;
  border-radius: 22px;
  text-align: center;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.25s ease;
}

.title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

/* Buttons */
.option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  padding: 16px;
  font-size: 18px;
  border-radius: 14px;
  border: 2px solid #e5e5e5;
  background: #ffffff;
  cursor: pointer;
  margin-top: 14px;
  transition: 0.2s;
}

.option:hover {
  background: #f7f7f7;
}

.yes .icon {
  color: #2ecc71;
}

.no .icon {
  color: #e74c3c;
}

/* whiteboard icons */
.icon-size-add {
  width: 30px;
  height: 30px;
  min-width: 30px;
  object-fit: contain;
}

/* Fade animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
.feel-overall-card.questions-cards {
  padding: 0;
  background-color: transparent;
}
.feel-overall-card {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #d4e5f6;
  padding: 15px;
  border-radius: 10px;
  height: 100%;
  margin-top: 0px;
}
.questions-cards-innr .feel-overall-card h3,
.depression-cards h3,
.question-title {
  font-size: 25px;
  font-weight: 500;
  color: #000;
  margin-bottom: 20px;
}
.question-title {
  margin-bottom: 10px;
  margin-top: 20px;
}
.feel-overall-card h3 {
  font-size: 30px;
}
.feel-overall-list-item {
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: 0.3s;
}
.feel-overall-list-item:hover {
  border-color: #0088dc;
}
.feel-overall-list-item img {
  width: 60px;
}
.feel-overall-list-item span {
  font-size: 28px;
  font-weight: 500;
  color: #000;
}
.depressed-cards {
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.depressed-cards .dashboard-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.depressed-cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.depression-cards {
  background-color: #d4e5f6;
  padding: 30px;
  border-radius: 15px;
}
.depression-list {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.depression-item {
  /* display: flex;
  align-items: center; */
  gap: 20px;
  margin-bottom: 25px;
  padding: 20px 10px;
  background-color: #fff;
  border-radius: 26px;
  cursor: pointer;
  border: 3px solid transparent;
  transition: 0.3s;
}
.depression-item:hover {
  border-color: #0088dc;
}
.depression-item img {
  width: 40px;
}

.depression-item span {
  font-size: 22px;
  font-weight: 500;
  color: #000;
}
.decision-cards-innr {
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
}
.dash-single-items .dashboard-cards p,
.dash-double-items .dashboard-cards p,
.dash-triple-items .dashboard-cards p,
.dash-hexuple-items .dashboard-cards p {
  font-size: 24px;
}
.dash-quadriple-items .dashboard-cards p {
  font-size: 18px;
}

.licence-cards h2 {
  font-size: 26px;
  font-weight: 500;
  color: #000;
  margin: 30px 0;
}
.licence-cards h4 {
  font-size: 24px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
}

.active_now {
  border: 3px solid #2563eb; /* Tailwind blue-600 */
}

.topic-board-page .dashboard-cards {
  width: 100%;
}
.topicSetting-single-items,
.topicSetting-double-items,
.topicSetting-triple-items,
.topicSetting-quadriple-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topicSetting-single-items .dashboard-cards,
.topicSetting-double-items .dashboard-cards,
.topicSetting-triple-items .dashboard-cards,
.topicSetting-quadriple-items .dashboard-cards {
  height: 80%;
}
.topicSetting-hexuple-items .dashboard-cards {
  height: 100%;
  width: 100%;
}
.topicSetting-single-items {
  height: 100vh;
  width: 100%;
}
.topicSetting-double-items {
  height: 90vh;
  width: 100%;
}

.topicSetting-triple-items {
  height: 85vh;
  width: 100%;
}
.topicSetting-quadriple-items {
  height: 85vh;
  width: 100%;
}

.topicSetting-hexuple-items {
  height: 41vh;
  width: 100%;
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .topicSetting-single-items {
    height: calc(100vh - 16px);
  }

  .topicSetting-double-items {
    height: 50vh;
  }

  .topicSetting-triple-items,
  .topicSetting-quadriple-items,
  .topicSetting-hexuple-items {
    height: 33.33vh;
  }
  .brthng-card {
    height: 280px;
    width: 280px;
  }
  .innr-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .innr-header h2,
  .innr-header .Header-text {
    font-size: 22px;
  }
  .thm-footer-innr {
    padding-bottom: 0px;
  }
  .thm-footer li a img {
    height: 22px;
    width: 22px;
  }
  .Intro_box img {
    max-width: 50%;
  }
  .pain-digram-box {
    max-width: 40rem;
  }
  .thm-footer {
    z-index: 9;
  }
  aside.sidebar {
    width: max-content;
    padding-bottom: 60px;
  }
  .dash-quadriple-items {
    height: calc(90vh - 90px);
  }

  .dash-quadriple-items .dashboard-cards.shirnk-card .dashboard-img img {
    height: calc(70vh - 120px);
  }
  .depressed-cards {
    height: 180px;
    width: 180px;
    margin-bottom: 10px;
  }
  .summary-list-right .dashboard-cards .dashboard-img {
    height: 100px;
  }
}

.dashboard-cards.shirnk-card .dashboard-img img {
  height: calc(50vh - 120px);
}
.decision-cards-innr .custom-wdth {
  margin-left: auto;
  margin-right: auto;
}
.custom-wdth {
  width: 85%;
}
